.popup__container {
  position: relative;
  max-width: 430px;
  min-height: 330px;
  background: #fff;
  border-radius: 10px;
  padding: 34px 36px 37px;
  font-family: 'Inter';
  font-style: normal;
  box-sizing: border-box;
}