.profile__info {
  display: flex;
  flex-direction: column;
  font-family: 'Inter';
  font-style: normal;
  color: #FFF;
  justify-content: center;
}

@media screen and (max-width: 550px) {
  .profile__info {
    row-gap: 14px;
    text-align: center;
  }
}