.profile__button {
  width: 150px;
  height: 50px;
  padding: 0;
  border: solid 2px #fff;
  background: url(../../../images/plus.svg);
  background-repeat: no-repeat;
  background-position: center;
  align-self: center;
}